<body class="dash-body nav-sm" id="dash">
<div class="container body">
    <div class="main_container">
        <%= render partial: "layouts/left_col", :locals => {active: "Clander"} %>
        <%= render partial: "layouts/nav_bar", :locals => {active: "Clander"} %>
        <div class="right_col" >
            <div class="row">
                <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                            </div>
                            <div class="x_content">
                                <div id='calendar'></div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
</body>    